.toDoForm {
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.formInput {
  padding: 1em;
  border-radius: 4px 0 0 4px;
  border: 2px solid var(--inner-borders);
  outline: none;
  width: 80%;
  background: transparent;
  color: var(--input-color);
  display: block;
}

.formInput::placeholder {
  color: var(--placeholder-color);
}

.formButton {
  padding: 1em;
  border-top: 2px solid var(--inner-borders);
  border-bottom: 2px solid var(--inner-borders);
  border-right: 2px solid var(--inner-borders);
  border-radius: 0 4px 4px 0;
  color: var(--input-color);
  background: var(--bg-color-btn);
  text-transform: capitalize;
  display: block;
  width: 20%;
}

