.page {
  width: 100%;
  box-sizing: border-box;
  max-width: 768px;
  min-width: 320px;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow:  0 5px 10px 0 rgb(0 0 0 / 70%);
  background: var(--bg-color-secondary);
}

.todos__wrapper {
  display: grid;
  gap: .5em;
  overflow: scroll;
}