.app.dark {
  --bg-color-main: #18122B;
  --bg-color-secondary: #393053;
  --primary-color: white;
  --inner-borders: black;
  --placeholder-color: grey;
  --input-color: white;
  --bg-color-btn: #443C68;
  --bg-color-btn-secondary: #393053;

}