.app.light {
  --bg-color-main: #c4dfdf;
  --bg-color-secondary: #E3F4F4;
  --primary-color: black;
  --inner-borders: black;
  --placeholder-color: grey;
  --input-color: black;
  --bg-color-btn: #F8F6F4;
  --bg-color-btn-secondary: #E3F4F4;

}