.app.light {
  --bg-color-main: #edc373;
  --bg-color-secondary: #b18f6a;
  --primary-color: #86a1a9;
  --inner-borders: #6667AB;
  --placeholder-color: #df88b7;
  --input-color: #e4445e;
  --bg-color-btn: #6667AB;
  --bg-color-btn-secondary: #5859a9;

}