@import url("reset.css");
@import url("variables/global.css");
@import url("themes/dark.css");
@import url("themes/light.css");

.app {
  font-size: var(--font-m);
  background: var(--bg-color, #e8e8ea);
  color: var(--primary-color, red);
  min-height: 100vh;
}