@import url("vendor/normalize.css");
@import url("variables/global.css");
@import url("themes/dark.css");
@import url("themes/light.css");

.app {
  font: var(--font-m);
  background: var(--bg-color-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  color: var(--primary-color);
  min-height: 100vh;
}

h1 {
  font: var(--font-l);
  margin: 0;
}