.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border: 2px solid var(--inner-borders);
  border-radius: 4px;
}

.text {
  margin: 0;
  padding: 0 1em;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  box-sizing: border-box;
  flex-grow: 1;
  max-width: 614px;
}

.text__checked {
  text-decoration: line-through;
  opacity: .5;
}

.btn__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  width: 60px;
}

